.depth-1 input {
font-size: 24px !important;
font-weight: lighter !important;
}

.depth-2 input {
font-size: 20px !important;
font-weight: bold;
}

.depth-3 input {
font-size: 16px !important;
}

button.button-icon {
  border-radius: 4px;
  margin-left: 16px;
}

button.button-icon span {
  opacity: 0.54;
}

button.button-icon:hover span {
  opacity: 0.74;
}

button.button-icon:hover {
  background-color: rgba(10, 77, 103, 0.09) !important;
}

div.row:hover {
  background-color: rgba(10, 77, 103, 0.09) !important;
}